In [1]:
import load

In [6]:
fbdata = load.FBDataset('syd')

In [7]:
allout = fbdata[...]

Loading many files from 'syd'
[##################################################]
Aggregating tiles...
Tiles aggregated.

Done.

In [5]:
allout

                                                              km    n
datetime                  quadkey       end_key
2020-12-28 00:00:00+00:00 3112210222021 3112210222021   0.000000   16
                          3112210222032 3112210222032   0.000000   47
                          3112210222201 3112210222201   0.000000   18
                          3112210222210 3112210222210   0.000000  350
                          3112210222211 3112210222211   0.000000  164
...                                                          ...  ...
2021-06-22 16:00:00+00:00 3112321001330 3112321001330   3.906906    8
                                        3112321001330  21.078068    6
                                        3112321001330  12.343332    7
                                        3112321001330   8.760227    2
                                        3112321001330  12.388832    6

[1848068 rows x 2 columns]